.message {
     display: flex;
     flex-direction: column;
     margin-top: 0.5rem;
}

.messageTop {
     display: flex;
     margin-top: 0.5rem;
}

.messageBottom {
     font-size: 12px;
     color: rgb(150, 150, 150);
}

.messageText {
     padding: 10px;
     border-radius: 20px;
     background-color: #cecdcd;
     color: black;
     width: fit-content;
     max-width: 30vh;
}

.message.own {
     align-items: flex-end;
}

.message.own .messageText {
     background-color: #6999E1;
     color: white;
}